#modelBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* background-color: bisque;
  margin-bottom: 1005px; */
  align-items: center;
}

#modal-modal-title {
  margin: 0 0 5px -55px;
} 

#modelBox-content {
  display: flexbox;
  /* width: 599px; */
  padding: 10px 30px;
  background-color: #D9D9D9;
  border-radius: 3px;
  margin-bottom: 15px;
}

.modelBox-input {
  display:flex;
}

.modelBox-input span{
  margin-right: 10px;
  margin-top: 5px;
  /* background-color: blue; */
}

#modelBox-content div {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 16px;
}

.model-container .btn-stationed ,#modelBox .btn-stationed{
  border-radius: 60px;
  font-size: 16px;
  padding:5px 25px;
  background-color: #525252;
  color: white; 
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

#modelBox Button {
  margin: 0 20px;
}