.css-i4bv87-MuiSvgIcon-root {
    font-size: 83px;
    color: #f4f4f4;
}

.css-iqsien-MuiPaper-root-MuiCard-root {
    display: flex;
    align-items: center;
    justify-content: center;
}

#uploadIcon {
    border: none;
    background-color: white ;
}