/* aside */
.bs_aside {
    width: 15%;
    padding: 20px 2.5%;
    float: left;
    background-color: #000;
    position: fixed;
    top: 50px;
    bottom: 0;
    border: 3px solid #fff;
}
.bs_aside ul li {
    list-style-type: none;
}
.bs_aside ul li a {
    color: #999;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
    transition-duration: .5s;
}
.bs_aside ul li a:hover {
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: 20px;
    transition-duration: .5s;
}