.all-cantainer {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
}

.SC-container {
    background-color: aqua;
    /* float: right; */
    display: flex;
    min-height: calc(100vh - 56px - 1px);
}

.header-hight {
    min-height: 54px;
    background-color: bisque;
}